{% load static %}

<nav>
    <div class="nav__left">
        <a href="/"><img src="/static/main/img/logo/logo.png" alt=""></a>
    </div>
    <span class="material-symbols-outlined nav__menu">
        sort
    </span>
    <div class="nav__right" style="left: -100%;">
        <div class="nav__link nav__right__close" id="nav_close">
            <b class="">Назад</b>
            <span class="material-symbols-outlined">arrow_forward_ios</span>
        </div>
        <a href="{% url 'news_list' %}" class='nav__link'>Новости</a>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">О колледже</a>
            <div class="nav__right__menu">

                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">Назад</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                
                <a href="{% url 'college-history' %}">История колледжа</a>
                <a href="{% url 'documents' %}">Документы</a>
                <a href="{% url 'staff:staff'  %}">Структура</a>
                <a href="/specs">Специальности</a>
                <a href="/">Попечительский совет</a>
                <a href="/">Педагогический совет</a>
                <a href="/">Индустриальный совет</a>
            </div>
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">Информация</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">Назад</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="/">Студенту</a>
                <a href="{% url 'abiturients' %}">Абитуриенту</a>
                <a href="/">Преподавателю</a>
                <a href="/">Финансовая отчетность</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">Государство</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">Назад</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="{% url 'state_symbols' %}">Государственные символы</a>
                <a href="/">Государственные услуги</a>
                <a href="/">Противодействие коррупции</a>
                <a href="/">Программа полиязычия</a>
            </div>  
        </div>
        <a href="{% url 'news_list' %}" class='nav__link'>WorldSkills</a>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">Воспитательная работа</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">Назад</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="/">Общая информация</a>
                <a href="/">Кружки/Секции</a>
                <a href="/">Психологическая служба</a>
                <a href="/">Классные руководители</a>
            </div>  
        </div>
    </div>
</nav>