.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 8vh 35vh;
}
.page h2 {
    padding-bottom: 10vh;
}

/* specialites */
.specialites {
    /* display: flex;
    justify-content: center;
    align-items: start; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
    gap: 1%;
    row-gap: 8%;
}
.specialite {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 12px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    /* min-width: 500px; */
    transition: all .3s linear;
    border: 6px double rgb(20,20,20,.1);
    gap: 30px;
}
.specialite:hover {
    scale: 1.05;
    border-color: #f86624;
}
.specialite:hover img {
}
.specialite img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -15%;
    transition: all .3s linear;
    border-top: 4px solid #f86624;
}
.specialite__top .title {
    font-size: 26px;
    font-weight: bold;
    /* border-bottom: 3px solid rgb(20,20,20,.3); */
    padding: 10px 0;
}
.specialite__bottom a {
    /* border-bottom: 2px solid #202020; */
    text-decoration: underline;
    text-decoration-color: #f86624;
    width: 100%;
    font-weight: bold;
}
.specialite__bottom:hover {
    border-color: #f86624;
}

/* one special */
.spec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spec img {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    z-index: -1;
    filter: brightness(80%);
}
.spec img::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 20vh;
    background-color: rgb(254,254,254,.5);
    z-index: 1;
}
.spec__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20vh;
    z-index: 10;
    padding: 3vh 3vw;
}
.spec__content h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.spec__content p {
    font-size: 22px;
    margin-top: 8vh;
}

@media screen and (max-width:600px) {
    /* specialites */
    .specialites {
        /* display: flex;
        justify-content: center;
        align-items: start; */
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 8%;
    }
    .page {
        padding: 0 4vw 35vh;
    }
    .specialite {
        margin-bottom: 7vh;
    }
    .specialite img {
        height: 30vh;
    }
    .specialite:hover {
        border-color: rgb(20,20,20,.1);
        scale: none;
    }
    .specialite__top .title {
        font-size: 20px;
        font-weight: bold;
        /* border-bottom: 3px solid rgb(20,20,20,.3); */
        padding: 10px 0;
    }
    .specialite__top .title:hover {
        color: #202020;
    }
    .specialite__bottom a {
        background-color: #202020;
        color: white;
        font-size: 18px;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .specialite__bottom {
        width: 100%;
    }
}