{% extends 'main/base.html' %}
{% load static %}

{% block title %} - Новости {% endblock %}

{% block content %}
<section class="u-align-center u-clearfix u-news-list-section-1" id="sec-2a09">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">Новости</h1>
    </div>
  </section>
  <section class="u-align-left u-clearfix u-grey-5 u-news-list-section-2" id="sec-dbbc">
    {% for item in news_list %}
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
      
      <div class="u-blog u-expanded-width u-blog-1">
        <div class="u-repeater u-repeater-1"><!--blog_post-->
          <div class="u-align-left u-blog-post u-container-style u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <a class="u-post-header-link" href="{{item.get_absolute_url}}"><!--blog_post_image-->
                <img alt="" class="u-blog-control u-image u-image-default u-preserve-proportions u-image-1"
                  src="{{item.news_img.url}}"><!--/blog_post_image-->
              </a>
              <div class="u-container-style u-custom-color-1 u-group u-shape-rectangle u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2"><!--blog_post_metadata-->
                  <div class="u-blog-control u-metadata u-metadata-1"><!--blog_post_metadata_date-->
                    <span class="u-meta-date u-meta-icon">{{item.news_create_date}}</span><!--/blog_post_metadata_date--><!--blog_post_metadata_category-->
                    <!--/blog_post_metadata_category-->
                  </div><!--/blog_post_metadata--><!--blog_post_header-->
                  <h2 class="u-blog-control u-text u-text-1">
                    <a class="u-post-header-link" href="{{item.get_absolute_url}}">{{item.news_title}}</a>
                  </h2><!--/blog_post_header--><!--blog_post_content-->
                  <div class="u-blog-control u-post-content u-text u-text-2 fr-view">{{item.news_content | slice:":50" | striptags}}</div><!--/blog_post_content--><!--blog_post_readmore-->
                  <a href="{{item.get_absolute_url}}"
                    class="u-blog-control u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"Read More","defaultValue":"Читать дальше"}--><!--/options_json-->
                    Читать далее<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
                </div>
              </div>
            </div>
          </div><!--/blog_post-->
        </div>
      </div><!--/blog-->
      
    </div>
    {% endfor %}
  </section>
{% endblock %}