{% include 'main/base.html' %} 

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/main/css/index.css" />

<div class="page">

    {% comment %} ___ PAGE SLIDER ___ {% endcomment %}
   <div class="container">
    <div class="page__slider">
        <div class="page__slider__left">
            AҚПАРАТТЫҚ ТЕХНОЛОГИЯЛАР КОЛЛЕДЖІ
        </div>
        <div class="page__slider__center">
            COLLEGE OF INFORMATION TECHNOLOGIES
        </div>
        <div class="page__slider__right">
            <span></span>
            <img src="{% static 'main/img/slider/1.jpg' %}" alt="">
        </div>
    </div>
   </div>

    <div class="container">
        <div class="pre__title">
            <h2 class="title">
                Новости
            </h2>
        </div> 

        <div class="page__news">
            <div class="page__news__left">

                {%  if last_one_news %}
                <div class="news">
                    <img src="{{ last_one_news.news_img.url }}" alt="">
                    <div class="news__content">
                        <span>{{ last_one_news.news_create_date|date:"F j" }}</span>
                        <a href="{{ last_one_news.get_absolute_url }}">{{ last_one_news.news_title }}</a>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="page__news__right">
                
                {% for news in last_news %}
                    <div class="news news__little">
                        <img src="{{ news.news_img.url }}" alt="">
                        <div class="news__content">
                            <span>{{ news.news_create_date|date:"F j" }}</span>
                            <a href="{{ news.get_absolute_url }}">{{ news.news_title }}</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="news news__little read__news">
                    <div></div>
                    <div class="news__content">
                        <span></span>
                        <a href="{% url 'news_list' %}">Читать все новости 
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="container">

        <div class="pre__title">
            <h2 class="title">
                О нас
            </h2>
        </div>

    </div>
    
        <div class="page__about">
            <div class="page__about__slide">
                <div class="page__about__right">
                    <h2>45</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo animi unde blanditiis, exercitationem laudantium tempore qui culpa voluptas quo accusantium quod consequuntur delectus architecto? Optio eius maiores neque animi tenetur.</p>
                    <a href="">Поступить к нам 
                        <span class="material-symbols-outlined">
                        trending_flat
                        </span>
                    </a>
                </div>
                <div class="page__about__left">
                    <span id="page__about__left__name">
                        <p>3d принтер picaso 3d</p>
                        <p>designer xl pro 2</p>
                    </span>
                    <img src="{% static 'main/img/about/3d-printer-picaso-3d-designer-xl-pro-2.png' %}" alt="" id="page__about__left__img">
                    <div class="page__about__buttons">
                        <title class="material-symbols-outlined page__about__button__left">
                            arrow_back_ios_new
                        </title>
                        <title class="material-symbols-outlined page__about__button__right">
                            arrow_forward_ios
                        </title>
                    </div>
                </div>
            </div>
        </div>

    
    <div class="container">

        <div class="pre__title">
            <h2 class="title">
                Наши достижения
            </h2>
        </div> 

        <div class="page__parthers">
            {% for achivment in achivments %}
                <div class="parthner">
                    <img src="{{ achivment.news_img.url }}" alt="{{ achivment.news_img }}">
                    <a href="{{achivment.get_absolute_url}}">{{achivment.news_title}}</a>
                    <a href="{{achivment.get_absolute_url}}">Читать</a>
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'news_list' %}" class="read__more">
            Смотреть все
        </a>

    </div>

    <div class="container">

        <div class="pre__title">
            <h2 class="title">
                Наши партнёры
            </h2>
        </div> 

        <div class="page__achievements">
            <span class="material-symbols-outlined page__archivements__left">
                arrow_back_ios
            </span>
            <div class="page__archievements__collection">
                {% for partner in partners %}
                    <div class="page__achivement">
                        <img src="/media/{{ partner.partner_logo }}" alt="{{partner.partner_name}}">
                        <a href="{{partner.partner_url}}" target="_blank">{{partner.partner_name}}</a>
                    </div>                    
                {% endfor %}
            </div>
            <span class="material-symbols-outlined page__archivements__right">
                arrow_forward_ios
            </span>
        </div>

    </div>


    <div class="container">
        <div class="page__contacts">
            <div class="page__contacts__left">
                {% for item in contacts %}
                    <div class="page__contact">
                        <h2 >Колледж информационных технологий</h2>
                        <p>Адрес: {{item.addr}}</p>
                        <p>Приёмная: {{item.tel}}<br>
                        </p>
                        <p>e-mail: {{item.e_mail}}<br>
                        </p>
                        <p>Приёмная комиссия: {{item.priem_com}}<br>
                        </p>
                        <p> Whatsapp: {{item.wats}}<br>
                        </p>
                    </div>
                    {% endfor %}
            </div>
            <div class="page__contacts__right">
                <iframe
                src="https://maps.google.com/maps?output=embed&amp;q=%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9B%D0%B5%D1%80%D0%BC%D0%BE%D0%BD%D1%82%D0%BE%D0%B2%D0%B0%2093%2C%20%D0%BA%D0%BE%D0%BB%D0%BB%D0%B5%D0%B4%D0%B6%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85%20%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B9&amp;z=17&amp;t=k"
                data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyJUQwJTlGJUQwJUIwJUQwJUIyJUQwJUJCJUQwJUJFJUQwJUI0JUQwJUIwJUQxJTgwJTJDJTIwJUQxJTgzJUQwJUJCLiUyMCVEMCU5QiVEMCVCNSVEMSU4MCVEMCVCQyVEMCVCRSVEMCVCRCVEMSU4MiVEMCVCRSVEMCVCMiVEMCVCMCUyMDkzJTJDJTIwJUQwJUJBJUQwJUJFJUQwJUJCJUQwJUJCJUQwJUI1JUQwJUI0JUQwJUI2JTIwJUQwJUI4JUQwJUJEJUQxJTg0JUQwJUJFJUQxJTgwJUQwJUJDJUQwJUIwJUQxJTg2JUQwJUI4JUQwJUJFJUQwJUJEJUQwJUJEJUQxJThCJUQxJTg1JTIwJUQxJTgyJUQwJUI1JUQxJTg1JUQwJUJEJUQwJUJFJUQwJUJCJUQwJUJFJUQwJUIzJUQwJUI4JUQwJUI5JTIyJTJDJTIyem9vbSUyMiUzQTE3JTJDJTIydHlwZUlkJTIyJTNBJTIyc2F0ZWxsaXRlJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'main/js/intro-slider.js' %}"></script>
<script src="{% static 'main/js/parthners-slider.js' %}"></script>
<script src="{% static 'main/js/slider.js' %}"></script>
{% endblock content %}