{% include 'main/base.html' %} 

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/main/css/about/college_history.css" />

<div class="page">
    <h2>Лицензия</h2>

    <iframe 
        src="{{ documents.college_license.url }}" 
        class="page__doc"
    ></iframe>

    <a href="{{ documents.college_license.url }}" class='link' download>Скачать лицензию</a>

    <h2>Устав</h2>

    <iframe 
        src="{{ documents.college_reg.url }}" 
        class="page__doc"
     ></iframe>

    <a href="{{ documents.college_license.url }}" class='link' download>Скачать устав</a>
</div>

{% endblock content %}