{% include 'main/base.html' %} 

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/specialities/css/about/specialites.css" />

<div class="page">
    {% if type == 'one' %}
    <div class="spec">
        <img src="{{ special.spec_img.url }}" alt="{{ spec.spec_img }}">
        <div class="spec__content">
            <h3>{{ special.spec_name }}</h3>
            {% autoescape off %}
                {{ special.spec_info }}
            {% endautoescape %}
        </div>
    </div>
    {% else %}
    <h2>Наши Специальности</h2>
    <div class="specialites">
        {% for specialite in specialites %}
            <div class="specialite">
                <div class="specialite__top">
                    <img src="{{ specialite.spec_img.url }}" alt="specialites" />

                    <a href="{% url 'spec:special' specialite.id  %}" class="title">{{ specialite.spec_name }}</a>
                </div>
                <div class='specialite__bottom'>
                    <a href="/specs/{{ specialite.id     }}">Узнать Больше </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}