{% include 'main/base.html' %} 

{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/staff/css/about/staff.css" />

<div class="page">
    <div class="page__about">
        {% if person.foto %}
            <img src="{{ person.foto.url }}" alt="{{ person.fio }}">
        {% endif %}
       <div class="page__about__item">
            <h3>{{ person.fio }}</h3>
            <h5>{{ person.position }}</h5>
       </div>
       <div class="page__text">
            {% autoescape off %}
                {{ person.info }}
            {% endautoescape %}
        </div>
    </div>
</div>

{% endblock content %}