/* footer */
footer {
    width: 100%;
    padding: 4vh 5vw;
    bottom: 0;
    position: absolute;

    background-color: #262626;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.footer__left {
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 10px;
}
.footer__left a {
    color: white;
}
.footer__left a:hover {
    color: #f86624;
}
.footer__right {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__right a   {
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    transition: all .3s linear;
    cursor: pointer;
}
.footer__right a:hover {
    background-color: #f86624;
}
.footer__right a  svg{
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 600px) {
    .footer__right {
        width: 100%;
    }
}